/* Centering */
.auth-container {
  min-height: 100vh;
  background: #f6f7f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

/* HEADER */
.auth-header {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-icon {
  font-size: 28px;
  color: #137fec;
}

/* Card */
.auth-card {
  width: 100%;
  max-width: 480px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 14px;
  padding: 32px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

/* Titles */
.auth-title {
  font-size: 28px;
  font-weight: bolder;
  color: black;
}

.auth-sub {
  margin-top: 4px;
  color: #666;
  font-weight: bold;
  font-size: 14px;
}

/* Input */
.auth-form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-label {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: bold;
    color: black;
  font-weight: 600;
}

.auth-input {
  width: 95%;
  padding: 12px;
  border: 1px solid #dadada;
  border-radius: 8px;
  background-color: white;
  color: black;
  font-size: 14px;
}
.auth-error {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #b00020;
  font-size: 13px;
}


.auth-input:focus {
  border-color: #137fec;
  outline: none;
}

.textarea {
  resize: vertical;
}

/* Buttons */
.btn-primary {
  background: #137fec;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.btn-primary:hover {
  opacity: 0.9;
}

.w-full {
  width: 100%;
}

/* Forgot Password */
.forgot-line {
  text-align: right;
}

.forgot-link {
  color: #137fec;
  font-size: 13px;
}

/* Social */
.auth-divider {
  margin: 28px 0;
  text-align: center;
  font-size: 12px;
  color: #666;
  position: relative;
}

.auth-divider span {
  background: white;
  padding: 0 10px;
}

.auth-divider:before {
  content: "";
  position: absolute;
  left: 0; right: 0; top: 50%;
  height: 1px;
  background: #ddd;
}

.social-buttons {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.social-btn {
  flex: 1;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  background: white;
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-btn:hover {
  background: #f3f3f3;
}

.social-icon {
  width: 20px;
  height: 20px;
}

/* Footer text */
.auth-footer-text {
  margin-top: 14px;
  font-size: 13px;
  text-align: center;
}

.link-primary {
  color: #137fec;
  font-weight: 600;
}
